body {background-image: url("https://www.shc.ac.th/img/BG_index.jpg");}
body {text-align: center;}
h1 {font-size: 29px; color: rgb(10, 10, 10); font-family: inherit;}
h2 {font-size: 26px; color: blue; font-family: inherit;}
.img {text-align: center;
     margin-left: 1px;
     margin-left: 1px;
     margin-top: 1px;
     margin-bottom: 1px;
     border-radius: 50%;}
b {color:white;
    font-family: serif;
    text-align: center;
    margin:0px auto;
    }
p {text-align: center; font-size: 18px;
    text-align: center;
    font-family: sans-serif;}   